src/main/app/proc-multiple-sfdc-query.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="sfdc-multi-query">
        <dw:transform-message doc:name="create dummy list of users">
            <dw:set-variable variableName="listOfUsers"><![CDATA[%dw 1.0
%output application/java
---
[
	{
		id:"1",
		name:"Han",
		surname:"Solo"
	},
	{
		id:"2",
		name:"Luke",
		surname:"Skywalker"
	}
	
]]]></dw:set-variable>
        </dw:transform-message>
        <dw:transform-message doc:name="sfdc config Map">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="sfdcConfigMap"><![CDATA[  %dw 1.0
%output application/java
---
{
	//these are current app Domain POJO's
	rowsToProcess:flowVars.listOfUsers,
	csvMapKey:'name',
	
	//these are fields inside SFDC Contact's Object'
	sfdc_query_select_field:'Id,Name,Surname',
	sfdc_query_from_object:'Contact',
	sfdc_query_where_field:'Name'
}]]></dw:set-variable>
        </dw:transform-message>
        <enricher source="#[flowVars.sfdcConfigMap.auxSfdcIdResultList]" target="#[flowVars.sfdcBulkQueryResults]" doc:name="result to sfdcBulkQueryResults">
            <flow-ref name="sys-sfdc-query-multi-launcher" doc:name="multi sfdc query"/>
        </enricher>
        <logger message="#['Found ['+flowVars.sfdcBulkQueryResults.size()+'] matches of AglearnID in SFDC Contact']" level="INFO" doc:name="info"/>
    </flow>
</mule>
