src/main/app/proc-multiple-sfdc-query.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="proc-sfdc-simple-query">
        <dw:transform-message doc:name="sfdc config Map">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="sfdcConfigMap"><![CDATA[  %dw 1.0
%output application/java
---
{	
	//these are fields inside SFDC Contact's Object'
	sfdc_query_select_field:'Id, Email',
	sfdc_query_from_object:'Contact',
	sfdc_query_where_field:'',
	results:[],
	errors:[]
}]]></dw:set-variable>
        </dw:transform-message>
        <enricher source="#[flowVars.sfdcConfigMap.auxSfdcIdResultList]" target="#[flowVars.sfdcConfigMap]" doc:name="result to sfdcConfigMap">
            <flow-ref name="sys-sfdc-query-simple" doc:name="simple sfdc query"/>
        </enricher>
    </flow>
    <flow name="proc-sfdc-multi-query-with-input-data">
        <dw:transform-message doc:name="dummy input list">
         	<dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="listOfUsers"><![CDATA[%dw 1.0
%output application/java
---
[
	{
		id:"1",
		name:"MICHAEL WATSON",
		surname:"Solo"
	},
	{
		id:"2",
		name:"SAMANTHA SIMON",
		surname:"Skywalker"
	},	
	{
		id:"2",
		name:"A TEST 1 VAN DER SCHRAAF",
		surname:"Skywalker"
	},
		
	{
		id:"3",
		name:"ANTHONY SHEA",
		surname:"Skywalker"
	}
	
]]]></dw:set-variable>
        </dw:transform-message>
        <dw:transform-message doc:name="sfdc config Map">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-variable variableName="sfdcConfigMap"><![CDATA[  %dw 1.0
%output application/java
---
{
	//these are current app Domain POJO's
	rowsToProcess:flowVars.listOfUsers,
	csvMapKey:'name',
	
	//these are fields inside SFDC Contact's Object'
	sfdc_query_select_field:'Id, Email',
	sfdc_query_from_object:'Contact',
	sfdc_query_where_field:'Name',
	results:[],
	errors:[]
}]]></dw:set-variable>
        </dw:transform-message>
        <enricher source="#[flowVars.sfdcConfigMap.auxSfdcIdResultList]" target="#[flowVars.sfdcConfigMap]" doc:name="result to sfdcConfigMap">
            <flow-ref name="sys-sfdc-query-multi-launcher" doc:name="multi sfdc query"/>
        </enricher>

    </flow>

</mule>
